<nav>
    <div class="nav-wrapper blue darken-4">
      <a href="/" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        {{#if isIndex}}
            <li class="active"><a href="/">Index</a></li>
        {{else}}
            <li><a href="/">Index</a></li>
        {{/if}}

      </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
        {{#if isIndex}}
            <li class="active"><a href="/">Index</a></li>
        {{else}}
            <li><a href="/">Index</a></li>
        {{/if}}

</ul>